In [1]:
import pandas as pd
import numpy as np

import missingno as msno

from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

from matplotlib import pyplot
import seaborn as sns
%matplotlib inline

dpath = './data/adult/'
train = pd.read_csv(dpath +"adultTrainLamda.csv")
train.head()

,Unnamed: 0,Age,workclass,People,Education,EduNum,Marriage,WorkType,Family,Race,Sex,capitalgain,capitalloss,hours,Country,IncomeRes
0,0,39,0.0,77516,0.0,13,0.0,0.0,0.0,0.0,0.0,2174,0,40,0.0,0.0
1,1,50,1.0,83311,0.0,13,1.0,1.0,1.0,0.0,0.0,0,0,13,0.0,0.0
2,2,38,2.0,215646,1.0,9,2.0,2.0,0.0,0.0,0.0,0,0,40,0.0,0.0
3,3,53,2.0,234721,2.0,7,1.0,2.0,1.0,1.0,0.0,0,0,40,0.0,0.0
4,4,28,2.0,338409,0.0,13,1.0,3.0,2.0,1.0,1.0,0,0,40,1.0,0.0

In [2]:
y_train = train['IncomeRes']   
train = train.drop(["IncomeRes"], axis=1)
X_train = np.array(train)

from sklearn.preprocessing import StandardScaler
ss_X = StandardScaler()
X_train = ss_X.fit_transform(X_train)

from sklearn.model_selection import train_test_split
X_train_part, X_val, y_train_part, y_val = train_test_split(X_train, y_train, train_size = 0.8,random_state = 0)

In [3]:
bdt = AdaBoostClassifier(DecisionTreeClassifier(max_depth=2, min_samples_split=20, min_samples_leaf=5),
                         algorithm="SAMME",
                         n_estimators=200, learning_rate=0.8)
bdt.fit(X_train_part, y_train_part)

bdt.score(X_val, y_val)

0.85398433901427917