In [42]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

from sklearn import  metrics
from sklearn.metrics import accuracy_score

import seaborn as sns
%matplotlib inline


dpath = './data/adult/'
train = pd.read_csv(dpath +"adultTrainClean.csv")
train.head()

,Unnamed: 0,Age,People,EduNum,capitalgain,capitalloss,hours,workclass_,workclass_ Federal-gov,workclass_ Local-gov,...,Country_ Puerto-Rico,Country_ Scotland,Country_ South,Country_ Taiwan,Country_ Thailand,Country_ Trinadad&Tobago,Country_ United-States,Country_ Vietnam,Country_ Yugoslavia,IncomeRes
0,0,39,77516,13,2174,0,40,0,0,0,...,0,0,0,0,0,0,1,0,0,0.0
1,1,50,83311,13,0,0,13,0,0,0,...,0,0,0,0,0,0,1,0,0,0.0
2,2,38,215646,9,0,0,40,0,0,0,...,0,0,0,0,0,0,1,0,0,0.0
3,3,53,234721,7,0,0,40,0,0,0,...,0,0,0,0,0,0,1,0,0,0.0
4,4,28,338409,13,0,0,40,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [43]:
test = pd.read_csv(dpath +"adultTestClean.csv")
test.head()

,Unnamed: 0,Age,People,EduNum,capitalgain,capitalloss,hours,workclass_,workclass_ Federal-gov,workclass_ Local-gov,...,Country_ Scotland,Country_ South,Country_ Taiwan,Country_ Thailand,Country_ Trinadad&Tobago,Country_ United-States,Country_ Vietnam,Country_ Yugoslavia,Country_Netherlands,IncomeRes
0,0,25,226802,7,0,0,40,0,0,0,...,0,0,0,0,0,1,0,0,0,0.0
1,1,38,89814,9,0,0,50,0,0,0,...,0,0,0,0,0,1,0,0,0,0.0
2,2,28,336951,12,0,0,40,0,0,1,...,0,0,0,0,0,1,0,0,0,1.0
3,3,44,160323,10,7688,0,40,0,0,0,...,0,0,0,0,0,1,0,0,0,1.0
4,4,18,103497,10,0,0,30,1,0,0,...,0,0,0,0,0,1,0,0,0,0.0

In [44]:
y_train = train['IncomeRes']   #形式为Class_x
x_train = train.drop(["IncomeRes"], axis=1)

y_test = test['IncomeRes']   #形式为Class_x
x_test = test.drop(["IncomeRes"], axis=1)

In [45]:
from sklearn import tree

clf = tree.DecisionTreeClassifier().fit(x_train, y_train)
print("clf",clf)

clf DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [46]:
import graphviz 
dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.render("adultDecisionTree")

'adultDecisionTree.pdf'

In [65]:
y_pred = clf.predict(x_test)

yArray = np.array(y_test)
print("Testing Score:%f" % (accuracy_score(yArray, y_pred)))

Training score:0.798845